# Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.DS_Store

# Envs / secrets
.env
.env.*
*.pem
*.key

# Editors
.idea/
.vscode/

# Build
dist/
build/
*.egg-info/

# Local services
.localstack/
.redis/
